body {
    background-color: #000;
}

.page {
    display: flex;
    border-width: 0;
}

.leftBar {
    display: flex;
    border-width: 0;
    width: 900px;
    height: 0;
}

.gameBox {
    display: flex;
    border-left: 7px #42FF00 solid;
    width: 100%;
    height: 100vh;
}

.alien {
    display: flex;
    border-width: 0;
}

.cross {
    background-color: #000;
    color: #42FF00;
    height: 50px;
    width: 50px;
    font-size: 40px;
    border: none;
}   

.button {
    display: flex;
    align-self: flex-end;
}