@font-face {
    font-family: 'sprites';
    src: url('../fonts/sprites.ttf');
    src: local('sprites'), local('sprites'), url('../fonts/sprites.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




body {
    font-family: 'sprites';
    background-color: linen;
    position: relative;
    font-family: 'sprites';
}

#canvas {
    width: 70vw;
    height: 100vh;
    float: right;
    position: relative;
}

canvas {
    position: absolute;
}